<%= simple_form_for(@eduprofile, html: { class: :"form-horizontal" }) do |f| %>
	<%= f.input :current_university %>
	<%= f.input :major_study %>
	<%= f.input :intake_year %>
	<%= f.input :graduation_year %>

	<div class="form-actions">
		<%= f.button :submit, class: :"btn btn-success" %>
		<%= link_to "Cancel", profile_index_path, class: :"btn btn-danger" %>
	</div>
<% end %>
