<%= form_for(@eduprofile, html: { class: :"form-horizontal" }) do |f| %>
	<div class="control-group">
		<label for="input01" class="control-label">Current University*</label>
		<div class="controls">
			<%= f.text_field :current_university, placeholder: :"Eg. APU, HELP, INTI, TARC" %>
		</div>
	</div>

	<div class="control-group">
		<label for="input01" class="control-label">Major Study*</label>
		<div class="controls">
			<%= f.text_field :major_study, placeholder: :"Eg. Software Engineering, Business Management..." %>
		</div>
	</div>

	<div class="control-group">
		<label for="input01" class="control-label">Intake Year</label>
		<div class="controls">
			<%= f.text_field :intake_year, placeholder: :"Eg. 2011" %>
		</div>
	</div>

	<div class="control-group">
		<label for="input01" class="control-label">Graduation Year</label>
		<div class="controls">
			<%= f.text_field :graduation_year, placeholder: :"Eg. 2015" %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit "Submit", class: :"btn btn-success" %>
		</div>
	</div>

	<div class="control-group">
		<label for="input01" class="control-label">* Mandatory field</label>
	</div>
<% end %>
