<tr id="<%= dom_id event %>" class="<%= status = get_join_status(event, @user_events) %>">
	<td><%= event_counter + 1 %></td>
	<td><%= formatted_date(event.event_date) %></td>
	<td><%= formatted_time(event.start_time) %></td>
	<td><%= formatted_time(event.end_time) %></td>
	<td><%= event.school_name %></td>
	<td><%= event.agency_in_charge %></td>
	<td><%= event.start_place %></td>
	<td><%= event.end_place %></td>
	<td id="seats_available"><%= event.seats_available_over_total %></td>
	<%= render 'event_action', event: event, status: status %>
</tr>
