<% if admin_signed_in? %>
	<%= form_tag events_path, method: :get do %>
		<%= hidden_field_tag "event" %>
	<% end %>
	<td><%= button_to "Edit", edit_event_path(event), method: :get %></td>
	<td><%= button_to "Delete", event_path(event), method: :delete %></td>
<% else student_signed_in? %>
	<td id="join_button">
		<%= join_quit_button status, event %>
	</td>
	<td id="join_status"><%= event.is_expired? ? "Expired" : display_joined(status) %></td>
<% end %>
