<h1>Event details:</h1>

<table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="50%" cellpadding="3" cellspacing="3">
	<tr>
		<td width="30%">School Name:</td>
		<td><%= @event.school_name %></td>
	</tr>

	<tr>
		<td>Starting point:</td>
		<td><%= @event.start_place %></td>
	</tr>
	
	<tr>
		<td>Ending point:</td>
		<td><%= @event.end_place %></td>
	</tr>

	<tr>
		<td>Event Date:</td>
		<td><%= formatted_date(@event.event_date) %></td>
	</tr>

	<tr>
		<td>Start Time:</td>
		<td><%= formatted_time(@event.start_time) %></td>
	</tr>
	
	<tr>
		<td>End Time:</td>
		<td><%= formatted_time(@event.end_time) %></td>
	</tr>

	<tr>
		<td>Agency In Charge:</td>
		<td><%= @event.agency_in_charge %></td>
	</tr>

	<tr>
		<td>Allowance Claiming:</td>
		<td><%= @event.allowance_claim %></td>
	</tr>

	<tr>
		<td>Max student:</td>
		<td><%= @event.total_student %></td>
	</tr>

	<% if admin_signed_in? %>
		<tr>
			<td>Backup student</td>
			<td><%= @event.backup_student %></td>
		</tr>
	<% end %>

	<tr>
		<td>Seats available:</td>
		<td><%= @event.seats_available %></td>
	</tr>
</table>
<%= render 'event_actions' %>
