<h1>Event details:</h1>

<table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="50%" cellpadding="3" cellspacing="3">
	<tr>
		<td width="40%">School Name:</td>
		<td><%= @event.school_name %></td>
	</tr>

	<tr>
		<td>Starting point:</td>
		<td><%= @event.start_place %></td>
	</tr>
	
	<tr>
		<td>Ending point:</td>
		<td><%= @event.end_place %></td>
	</tr>

	<tr>
		<td>Start Date Time:</td>
		<td><%= @event.start_datetime %></td>
	</tr>
	
	<tr>
		<td>End Date Time:</td>
		<td><%= @event.end_datetime %></td>
	</tr>

	<tr>
		<td>Allowance Claiming:</td>
		<td><%= @event.allowance_claim %></td>
	</tr>

	<tr>
		<td>Seats available:</td>
		<td><%= @event.seats_available %></td>
	</tr>
</table>

<%= render 'event_actions' %>
