<%= simple_form_for(@profile, validate: true, html: { class: :"form-horizontal" }) do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :contact_number %>
	<%= f.input :national_identity %>
	<%= f.input :facebook_name %>

	<div class="form-actions">
		<%= f.button :submit, class: :"btn btn-success" %>
		<%= link_to "Cancel", events_path, class: :"btn btn-danger" %>
	</div>
<% end %>
