<div class="container-fluid">
	<%= simple_form_for(@profile, html: { class: :"form-horizontal" }) do |f| %>
		<legend>Student Information</legend>
		<div class="row-fluid">
			<div class="span4">
				<%= f.input :first_name, placeholder: :"First name here..." %>
			</div>
			<div class="span3">
				<%= f.input :last_name, placeholder: :"Last name here..." %>
			</div>
		</div>

		<%= f.input :contact_number, wrapper: :prepend, required: true do %>
			<%= f.input_field :contact_number_prefix, collection: telco_options, 
					selected: @profile.contact_number_prefix || "010", class: :span1 %>
			<%= f.input_field :contact_number_affix, class: :span2 %>
		<% end %>

		<%= f.input :national_identity, input_html: { placeholder: :"Eg: 911225105599" } %>
		<%= f.input :facebook_name, input_html: { placeholder: :"Facebook display name..." } %>

		<legend>Education Profile</legend>

		<%= f.input :current_university, collection: university_options %>
		<%= f.input :major_study %>
		<%= f.input :intake_year %>
		<%= f.input :graduation_year %>
	
		<div class="form-actions">
			<%= f.button :submit, class: :"btn-success" %>
		</div>
	<% end %>
</div>
